.main{
    min-height:93vh;
    
    display:flex;
    align-items:center;
    background-image:url('./../../bg2.avif');
    background-position:center;
    background-size:cover;
    /* color: aliceblue; */
   
  

}
.titleContainer{
    padding: 5%;
    border-radius:1%;
    backdrop-filter: blur(5px); 
    background-color: rgba(0, 0, 0, 0.316); 
    /* background: rgba(241, 159, 6, 0.418); */
/* background: linear-gradient(180deg, rgba(0, 0, 0, 0.637) 0%, rgba(0, 0, 0, 0.378) 70%,rgba(0, 0, 0, 0) 100%); */

}




.title{
    font-size: 3.5rem;
    color: aliceblue;
    
}
.subtitle{
    color: rgba(240, 248, 255, 0.781);
    font-size: 1.2rem;
    margin-top: 10px;
    /* color: rgba(240, 248, 255, 0.635); */
}
.buttonContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
gap: 2rem;
 

}
.landingButton
{
   
    width: 200px;
    height: 50px;
}
@media only screen and (max-width: 575px) {
  .titleContainer{
    height: 50vh;
  }
   .title {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
   }
  }